@page "/"

<PageTitle>Home</PageTitle>

<MudText Typo="Typo.h3" GutterBottom="true" Class="d-flex justify-center">Blood Bank Manager</MudText>

<br />

<MudPaper>

    <MudCarousel TData="object" Class="mud-width-full" Style="height:500px" ShowArrows="true" AutoCycle="true">
        
        <MudCarouselItem Transition="Transition.Fade" Color="@Color.Surface">            
            <MudLink Href="/bloodstock">
                <div class="d-flex justify-center" style="height:100%">
                    <MudImage Src="https://images.pexels.com/photos/4680222/pexels-photo-4680222.jpeg">                    
                    </MudImage>
                </div>
            </MudLink>            
        </MudCarouselItem>

        <MudCarouselItem Transition="Transition.Fade" Color="@Color.Surface">
            <MudLink Href="/donations">
                <div class="d-flex justify-center" style="weight:100%">
                    <MudImage Src="https://img.freepik.com/free-vector/blood-donation-background_1057-981.jpg?t=st=1727911144~exp=1727914744~hmac=9918ddc2e43afebc8daeafb67c14228b5b6d38e3ca177876b6450a86108d7049&w=826">
                    </MudImage>
                </div>
            </MudLink>            
        </MudCarouselItem>

        <MudCarouselItem Transition="Transition.Fade" Color="@Color.Surface">
            <MudLink Href="/donors">
                <div class="d-flex justify-center" style="height:100%">
                    <MudImage Src="https://media.gettyimages.com/id/641911254/photo/african-american-businessman-donates-blood-during-lunch-break.jpg?s=612x612&w=0&k=20&c=nZ_5UKNLYJagoyG_ub5x97oZh9ksRG2uXtlDNkmuxmg=">
                    </MudImage>
                </div>
            </MudLink>            
        </MudCarouselItem>

    </MudCarousel>

</MudPaper>